.main-container {
	height: 100vh;
	background-color: black;
	padding: 100px;
	display: flex;
	flex-direction: column;
}

.main-title {
	color: white;
	display: flex;
	margin-bottom: 40px;
}

.main-title__text {
	flex: 1;
	text-align: center;
}

.main-title__score {
	font-size: 30px;
	margin-top: 20px;
}

.main-pitch__container {
	position: relative;
	display: flex;
	height: 60vh;
	width: 60vh;
	margin: 0 auto;
}

.main-pitch__visual-layout {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;

	> div {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		display: flex;
		justify-content: space-evenly;
	}
}

.main-pitch__visual-v {

	> div {
		border: 1px solid white;
	}
}

.main-pitch__visual-h {
	flex-direction: column;

	> div {
		border: 1px solid white;
	}
}

.main-pitch__board {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	// display: flex;
	// flex-direction: column;
}

.main-pitch__board-row {
	// flex: 1;
	// display: flex;
	// flex-direction: row;


		// flex: 1;
		transition: background-color 0.2s ease-in-out;
		cursor: pointer;
		color: white;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 50px;
		width: 33%;
		height: 33%;
		float: left;

		&:hover {
			background-color: rgba(255, 255, 255, 0.3);
		}
	
}
